@*TODO: Get id*@
@page "/editreservation"
@inject ISessionStorageService _sessionStorage
@using MeetNSeat.Client.Services
@using MeetNSeat.Client.Models
@using Blazored.SessionStorage
@using Microsoft.VisualBasic
@attribute [Authorize]

<main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">EditReservation(@_model.Id)</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>@Msg</p>
            <form>
                <div class="form-group mx-sm-3 mb-3">
                    <label for="attendees">Attendees</label>
                    <input type="text" readonly class="form-control-plaintext" @bind="@_model.Attendees" @bind:event="oninput">
                </div>
                <div class="form-group mx-sm-3 mb-3">
                    <label for="starttime">Start Time</label>
                    <input type="datetime" class="form-control" id="starttime" @bind="@_model.StartTime" @bind:event="oninput">
                </div>
                <div class="form-group mx-sm-3 mb-3">
                    <label for="endtime">End Time</label>
                    <input type="datetime" class="form-control" id="endtime" @bind="@_model.EndTime" @bind:event="oninput">
                </div>
                <button @onclick="EditReservations" type="submit" class="btn btn-primary mb-2">Confirm Change</button>
            </form>
        </div>
    </div>
</main>
@code
{
    private ReservationModel _model = new ();
    private string Msg { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _model = await _sessionStorage.GetItemAsync<ReservationModel>("reservation");
        Msg = Msg;
    }

    private async Task EditReservations()
    {
        Msg = await UserService.EditReservation(_model);
        await _sessionStorage.RemoveItemAsync("reservation");
    }
}