@page "/problem-panel"
@using MeetNSeat.Client.Models
@using MeetNSeat.Client.Services
@attribute [Authorize]

<main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
    <h2 class="pt-3">Problem panel</h2>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col" style="min-width: 3%"></th>
                <th scope="col" style="max-font-size: 20%">Title</th>
                <th scope="col" style="min-width: 16%; max-font-size: 16%">Room</th>
                <th scope="col" style="min-width: 16%; max-font-size: 16%">Reported by</th>
                <th scope="col" style="min-width: 16%; max-font-size: 16%">Reported on</th>
                <th scope="col" style="min-width: 16%; max-font-size: 16%">Reported at</th>
                <th scope="col" style="min-width: 13%"><button @onclick="ToggleResolvedProblemView" disabled="@IsDisabled" class="btn btn-primary p-1">@ButtonText</button></th>
            </tr>
            </thead>
            <tbody>
            @if (Problems.Any()){
                @foreach (var problem in Problems){
                    @if (!problem.IsResolved){
                        <tr class="@(problem.IsCollapsed ? "normal" : "active")">
                            <td>
                                <button class="btn btn-primary" @onclick="() => Toggle(problem)">Details</button>
                            </td>
                            <td>@problem.Title</td>
                            <td>@problem.RoomId</td>
                            <td>@problem.UserId</td>
                            <td>@problem.ReportedOn</td>
                            <td>Not resolved</td>
                            <td style="min-width: 200px">
                                <button @onclick="() => ResolveProblem(problem)" class="btn btn-primary">Resolve</button>
                            </td>

                        </tr>
                    }
                    @if (ShowResolved && problem.IsResolved){
                        <tr class="@(problem.IsCollapsed ? "normal" : "active")">
                            <td>
                                <button class="btn btn-primary" @onclick="() => Toggle(problem)">Details</button>
                            </td>
                            <td>@problem.Title</td>
                            <td>@problem.RoomId</td>
                            <td>@problem.UserId</td>
                            <td>@problem.ReportedOn</td>
                            <td>@problem.ResolvedAt</td>
                            <td>
                                <button @onclick="() => ResolveProblem(problem)" class="btn btn-primary">Re-Open</button>
                                <button @onclick="() => DeleteProblem(problem.Id)" class="btn btn-primary">Delete</button>
                            </td>
                        </tr>
                    }
                    @if (!problem.IsCollapsed){
                        <tr class="@(problem.IsHidden ? "details":"hidden")">
                            <td colspan="7" style="background: #f2f2f2; max-width: 100%">
                                <div class="grid">
                                    <div>
                                        @problem.Description
                                    </div>
                                    @if (problem.Picture != null)
                                    {
                                        var base64 = Convert.ToBase64String(problem.Picture);
                                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                        <img alt src="@imgSrc" style="justify-self: end"/>
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                }
            }
            </tbody>
        </table>
    </div>
</main>

@code {

    private bool ShowResolved { get; set; }

    private string ButtonText { get; set; } = "Show Resolved";

    private bool IsDisabled { get; set; } = true;
    
    List<ProblemModel> Problems { get; set; } = new();
    
    protected override async Task OnInitializedAsync()
    {
        Problems = (await ProblemService.GetAllProblems()).ToList();
        IsDisabled = !Problems.Any(model => model.IsResolved);
    }
    
    private static async Task Toggle(ProblemModel problem)
    {
        problem.IsCollapsed = !problem.IsCollapsed;
        await Task.Delay(1);
        problem.IsHidden = !problem.IsHidden;
    }

    private void ToggleResolvedProblemView()
    {
        ShowResolved = !ShowResolved;
        ButtonText = ShowResolved ? "Hide Resolved" : "Show Resolved";
    }
    
    private async Task ResolveProblem(ProblemModel problem)
    {
        problem.IsResolved = !problem.IsResolved;
        problem.IsCollapsed = true;
        
        if (problem.IsResolved)
        {
            problem.ResolvedAt = DateTime.Now;
            await ProblemService.UpdateProblem(problem);
        }
        else
        {
            problem.ResolvedAt = null;
            await ProblemService.UpdateProblem(problem);
        }
        
        if (!Problems.Any(model => model.IsResolved))
        {
            IsDisabled = true;
            ToggleResolvedProblemView();
        }
        else IsDisabled = false;
    }
    
    private async Task DeleteProblem(int id)
    {
        Problems.Remove(Problems.Find(problem => problem.Id == id));
        await ProblemService.DeleteProblem(id);
        IsDisabled = !Problems.Any(model => model.IsResolved);
    }
}

<style>
    tr.normal {
        opacity: 0.9;
    }
    tr.normal:hover {
        background-color: #f2f2f2;
        transition: 0.1s;
        opacity: 1;
    }
    tr.active {
        opacity: 1;
        box-shadow: 0 8px 6px -6px black;
        background-color: #f2f2f2;
    }
    
    tr.hidden {
        opacity: 0;
    }
    tr.details {
        transition: opacity 0.6s;
        opacity: 0.9;
    }
    
    .grid {
        display: grid;
        grid-template-columns: auto auto;
    }
</style>