@inject ISessionStorageService _sessionStorage;
@page "/reservation"
@using MeetNSeat.Client.Models
@using MeetNSeat.Client.Services
@using Blazored.SessionStorage
@attribute [Authorize]

<main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>Plan a reservation</h2>
    </div>
    <div>
        <form>
            <div class="mb-3">
                <label for="Location" class="form-label">Location</label>
                <select class="form-control" @bind="Location" aria-label="Default select example">
                    <option disabled selected placeholder="Select a location here">Select a location</option>
                    @if (Locations.Any())
                    {
                        @foreach (var location in Locations)
                        {
                            <option value="@location.Id">@location.Name, @location.City</option>
                        }
                    }
                </select>

                <label for="Room" class="form-label">Room type</label>
                <select class="form-control" @bind="Room" @bind:event="oninput" aria-label="Default select example">
                    <option disabled selected placeholder="Select a location here">Select a room type</option>
                    @if (Rooms.Any())
                    {
                        @foreach (var room in Rooms)
                        {
                            <option value="@room.Type">@room.Type</option>
                        }
                    }
                </select>

                <label for="Attendees" class="form-label">Attendees</label>
                <input type="number" class="form-control" id="Attendees" placeholder="Attendees">

                <input type="datetime-local" @bind="@StartDate" @bind:format="yyyy-MM-ddTHH:mm" />
                <input type="datetime-local" @bind="@EndDate" @bind:format="yyyy-MM-ddTHH:mm" />
            </div>
            <button @onclick="AddReservation" type="button" disabled="@IsDisabled" class="btn btn-primary">Maak reservering</button>
        </form>
    </div>
</main>

@code {
    private int Location { get; set; }
    
    private int Room { get; set; }

    private bool IsDisabled { get; set; } = false;


    private DateTime StartDate { get; set; } = DateTime.Now;
    private DateTime EndDate { get; set; } = DateTime.Now.AddHours(1);


    List<LocationModel> Locations { get; set; }  = new();
    List<RoomModel> Rooms { get; set; } = new();


    protected override async Task OnInitializedAsync()
    {
        Locations = (await LocationService.GetAllLocations()).ToList();
        Rooms = (await UserService.GetAllRoomTypes()).ToList();
    }

    private async Task AddReservation()
    {
        var userId = await _sessionStorage.GetItemAsync<string>("userId");
        await UserService.CreateReservation(new ReservationModel(userId, Location, Room, StartDate, EndDate));
    }


}
